/* $french-blue: #1B75BBff;
$flame: #EF5927ff; */

#carousel-container {
    background-color: #D6D6D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height : 40vh;
}
p.carousel-text {
    word-spacing: 5px;
    line-height: 1.5;
}
#head{
    font-weight: 600;
}
#vr-content{
    color: white;
}