/* $french-blue: #1B75BBff;
$flame: #EF5927ff; */


#count-container {
    background-color: #1B75BB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height : 45vh;
}
p.count-text {
    color: #EBEBEB;
    word-spacing: 5px;
    line-height: 1.5;
}
#head{
    font-weight: 600;
}
#vr-content{
    color: white;
}