/* $french-blue: #1B75BBff;
$flame: #EF5927ff; */

#home-container {
    /* background: linear-gradient(45deg, #1B75BB, #3A8CCF, #EF5927); */
    /* background-color: #F5F5F5; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height : 90vh;
}
p.home-text {
    /* color: #EBEBEB; */
    word-spacing: 5px;
    line-height: 1.5;
}
#head{
    font-weight: 600;
}

.icons{
    font-size: 36px;
}

/* #test {
    position: relative;
}
#test::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 60%;
    background-color: #007bff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#test:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} */