/* $french-blue: #1B75BBff;
$flame: #EF5927ff; */

#home-container {
    /* background: linear-gradient(45deg, #1B75BB, #3A8CCF, #EF5927); */
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height : 90vh;
}
p.home-text {
    /* color: #EBEBEB; */
    word-spacing: 5px;
    line-height: 1.5;
}
#head{
    font-weight: 600;
}

.icons{
    font-size: 36px;
}