/* $french-blue: #1B75BBff;
$flame: #EF5927ff; */

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
#usp-container {
    background-color: #EBEBEB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height : 83vh;
}
p.usp-text {
    /* color: #EBEBEB; */
    word-spacing: 2px;
    line-height: 1.5;
}
#head{
    font-weight: 600;
}

.usp-icons-container {
    border-radius: 8px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.usp-icons{
    font-size: 48px;
}