* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
    position: fixed;
    top : 0;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    height : 17vh;
  }
.bg-body-tertiary{
  background-color: #EBEBEB;
}
nav.scroller{
  background-color: rgba(255, 255, 255, 0.4); /* Transparent */
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.offcanvas{
  width : 40% !important;
  transition-delay: 0.25s;
  transition-timing-function:ease;
}
.nav-element{
  font-size: 16px;
  font-weight:700;
}
.nav-item{
  border-radius : 35px;
  transition: all;
  transition-duration: 0.5s;
  padding : 6px 12px;
}
.nav-item {
  p.tab{
    margin : 0;
    font-weight: 600;
    font-size: 24;
  }
}
.icon{
  font-size: 24px;
}

@media screen and (min-width: 992px){
  .nav-item{
    margin-left: 10px;
  }
  .nav-item:hover{
    background-color: rgba(0, 119, 255, 0.699);
    color: #EBEBEB;
  }
  #Item-1, #Item-2, #Item-3, #Item-4, #Item-5, #Item-6{
    background-color: rgba(0, 119, 255, 0.699);
    color : #EBEBEB;
    p.tab {
      color : #EBEBEB;
    }
  }
  .navbar-toggler{
    display: none;
  }
}
.pc-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .nav-content{
    display: none !important;
  }
}
